/* Margin Library
Date: 09 / 10 / 2014
Version: 0.0.2
Format: SCSS
*/
// Using step values
$step: 5;
$minmargin: 0;
$maxmargin: 50;

@each $side, $abr in (top, t),
                      (right, r),
                      (bottom, b),
                      (left, l) {
/* Change side */
$mxmg: $maxmargin;
$mmmg: $minmargin;
  @while $mxmg >= $mmmg {
    .m#{$abr}#{$mxmg} { margin-#{$side}: $mxmg + px; }
    $mxmg: $mxmg - $step;
  }
}
