$step: 5;

$minmargin: 0;


$list: (0,5,10,15,20,25,30);

// $maxmargin: 7;
// @each $side, $abr in (top, t), 
//                       (right, r),
//                       (bottom, b),
//                       (left, l) {
// 	/* Change side */
// 	@for $step from $minmargin through $maxmargin {
//   		.m#{$abr}#{$step*5} { margin-#{$side}: $step*5px; }
// 	}
// }

 






@each $side, $abr in (top, t), 
                      (right, r),
                      (bottom, b),
                      (left, l) {
/* Change side */                     
$maxmargin: 30;
  @while $maxmargin >= 0 {
    .m#{$abr}#{$maxmargin} { margin-#{$side}: $maxmargin; }
    $maxmargin: $maxmargin - $step;
  }
}

// @each $side, $abr in (top, t), 
//                       (right, r),
//                       (bottom, b),
//                       (left, l) {

// @while $maxmargin >= 0 {
//   .m#{$abr}#{$maxmargin} { margin-#{$side}: $maxmargin px; }
//   $maxmargin: $maxmargin - $step;
// }

// }